*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: sans-serif;
}
body{
    background-color: rgb(0,0,33);
    color: #fff;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 65px;
    font-size: 21px;
    background-color: rgb(18,18,62);
}


nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-left: 40px ;
    font-size: 15px; 
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover{
    
    color:  rgb(161, 32, 161);
}
/* main start */

.main{
    display: flex;
    justify-content: space-around;
   
}
.main div{
    height: 500px;
    width: 500px;
    color: rgb(255, 253, 253);
    width: 40%;
    
}
.above{
    margin-top: 113px;
    margin-left: 43px;
}
.leftsection{
    font-size: 55px;
    margin: 0 0 0 60px ;
}
.rightsection{
    height: 460px;
    width: 460px;
    margin: 40px 0 0 60px;
}

.purple{
    color: rgb(161, 32, 161);
}
main hr{
    height: 1px;
    background-color: #fff;
   margin: 0 90px 0 90px;
}
button{
    margin-left: 65px;
    margin-top: 17px;
    height: 37px;
    width: 100px;
    border-radius: 10px;
    font-size: 15px;
    font-weight:500;
    color: purple;
}
/* about */
.about-first{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
    
}
.about-left{
    height: 500px;
    width: 600px;
    font-size: 26px;   
    color: #fff;
}
.about-right{
    height: 530px;
    width: 366px;
    margin-top: 10px;
    border: 1px solid #fff;
    border-radius: 15px;
}
.about-right:hover{
border: 2px solid  rgb(161, 32, 161);
}
ul li{
    font-size: 20px;
}
.images{
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
    margin-top: 10px;
}
.projectone{
    height: 260px;
    width: 500px;
    border-radius: 15px;
}
.projectsec{
    height: 260px;
    width: 500px;
    border-radius: 15px;
}
.imagesetting{
    border: 1px solid #fff;

}
.imagesetting:hover{
    border: 2px solid  rgb(161, 32, 161);
}
.contact a{
    color: #fff;
    font-size: 21px;
}
.contact a:hover{
    color:  rgb(161, 32, 161);
}
.anchorone{
    margin-left: 70px;
}
.anchorsec{
    margin-left: 25px;
}

.button{
    margin-left: 110px;
    margin-top: 10px;
    height: 37px;
    width: 100px;
    border-radius: 10px;
    font-size: 14px;
    font-weight:500;
}
.contact-left{
    flex-basis: 50%;
}
.contact-right{
    flex-basis: 60%;
   
}
.row{
    display: flex;
}
form button{
    margin-left: 0px;
    height: 37px;
    width: 100px;
    border-radius: 10px;
    font-size: 14px;
    font-weight:500;
}